//.svg-clip {
//  position: absolute;
//  top: 500px;
//  left: 0;
//  right: 0;
//  height: 295px;
//  width: 295px;
//  margin: auto;
//
//  svg,
//  img {
//    position: inherit;
//    left: 0;
//  }
//
//  img {
//    max-width: none;
//  }
//}

//body {
//  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
//  margin: 2em;
//}
//
//img {
//  max-width: 100%;
//  display: block;
//}
//
.container {
  width: 100%;
  max-width: 295px;
  //height: 300px;

  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  margin: auto;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
}

//$img: 'https://cdn.glitch.com/04eadd2b-7dd4-43fc-af3d-cff948811986%2Fstar-mask.png?v=1597756701076';
$img: '/assets/mask-custom-circle.png';

.one {
  -webkit-mask-image: url('#{$img}');
  mask-image: url('#{$img}');
}


